:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --section-padding: 100px;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}
.Landing {
  position: relative;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-image: url("../images/landing.jpg");
  z-index: -1;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
  z-index: -2;
}
.Landing .Brackets i:nth-of-type(1) {
  position: absolute;
  color: white;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: 900;
  z-index: 1;
}

.Landing .Brackets i:nth-of-type(2) {
  position: absolute;
  color: white;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: 900;
  z-index: 1;
}
.Landing .balls {
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.Landing .balls .ball1 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid white;
}
.Landing .balls .ball2 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--main-color);
}
.Landing .balls .ball3 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid white;
}
.Landing-content {
  display: flex;
  justify-content: end;
  position: absolute;
  width: 50%;
  height: fit-content;
  max-height: 545px;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--transparent-color);
  color: white;
}
.Landing-content .content {
  padding: 50px;
  max-width: 80%;
  overflow-y: hidden;
}
.Landing-content .content h3 {
  margin: 0;
  padding: 0;
  font-size: 3.2rem;
  font-weight: lighter;
}
.Landing-content .content h2 {
  margin: 0;
  padding: 0;
  padding-top: 15px;
  font-size: 3rem;
  font-weight: lighter;
}
.Landing-content .content p {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  line-height: 1.8;
  font-size: 1.5rem;
  font-weight: lighter;
}
@media screen and (max-width: 875px) {
  .Landing-content {
    width: 100%;
    justify-content: flex-start;
  }
}
.Header {
  width: 100vw;
  position: relative;
  left: 0;
  top: 0;
}

.Header .container {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}
.Header .container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Header .container .nav {
  width: 80%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.Header .container ul.list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.Header .container ul.list li {
  position: relative;
  color: white;
  padding: 0 10px;
  font-size: 1.7rem;
  height: 100%;
  cursor: pointer;
}
.Header .container ul.list li:hover {
  color: var(--main-color);
}
.Header .container ul.list li::before {
  content: "___________";
  position: absolute;
  display: none;
  color: var(--main-color);
  bottom: -31px;
  left: calc(50% - 45px);
}
.Header .container ul.list li:hover:before {
  display: block;
}
.Header .container .nav-sm {
  display: none;
  position: absolute;
  background-color: hsl(0deg 0% 0% / 50%);
  width: 100vw;
  height: 288px;
  padding: 0;
  left: 0;
  top: 77px;
}

.Header .container ul.list-sm {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  flex-direction: column;
  padding: 0;
  list-style: none;
}
.Header .container .list-sm li {
  padding: 15px;
  color: white;
  font-size: 1.4rem;
  width: 100%;
}
.Header .container .list-sm li:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.Header .container .icon1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Header .container .icon1 i {
  display: none;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.icon1 + .nav-sm {
  display: block;
}

.Header .container .icon2 i {
  position: relative;
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  padding-left: 50px;
}
.Header .container .icon2 {
  position: relative;
}
.Header .container .icon2::after {
  position: absolute;
  content: "_____";
  color: white;
  rotate: 90deg;
  left: 15px;
}
@media screen and (max-width: 875px) {
  .Header .container ul.list {
    display: none;
  }
  .Header .container .icon1 i {
    display: block;
  }
}
.Landing-content {
  display: flex;
  justify-content: end;
  position: absolute;
  width: 50%;
  height: fit-content;
  max-height: 545px;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--transparent-color);
  color: white;
}
.Landing-content .content {
  padding: 50px;
  max-width: 80%;
}
.Landing-content .content h3 {
  margin: 0;
  padding: 0;
  font-size: 3.2rem;
  font-weight: lighter;
}
.Landing-content .content h2 {
  margin: 0;
  padding: 0;
  padding-top: 15px;
  font-size: 3rem;
  font-weight: lighter;
}
.Landing-content .content p {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  line-height: 1.8;
  font-size: 1.5rem;
  font-weight: lighter;
}
@media screen and (max-width: 875px) {
  .Landing-content {
    width: 100%;
    justify-content: flex-start;
  }
  .Landing-content .content {
    width: 100%;
  }
}
.Services {
  width: 100%;
  height: fit-content;
}
.Services .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
  width: 100%;
  height: fit-content;
  margin-top: var(--section-padding);
  margin-bottom: var(--section-padding);
  padding-left: 10%;
  padding-right: 10%;
}
.Services .container .content {
  display: flex;
}
.Services .container .content i {
  margin-right: 50px;
  align-self: center;
  font-size: 4.5rem;
}
.Services .container .content .txt h4 {
  color: var(--main-color);
  font-size: 2rem;
}
.Services .container .content .txt p {
  font-size: 1.4rem;
  color: #777;
  line-height: 1.8;
}
@media screen and (min-width: 770px) and (max-width: 990px) {
  .Services .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1px) and (max-width: 769px) {
  .Services .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    text-align: center;
  }
  .Services .container .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Services .container .content i {
    margin: auto;
  }
}
.desing-futures {
  position: relative;
  width: 100vw;
  height: 85vh;
  background-image: url("../images/design-features.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
  z-index: -2;
  margin-bottom: 50px;
}
.desing-futures img {
  position: absolute;
  bottom: -80px;
  left: 150px;
}
.desing-futures .content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--transparent-color);
  width: 50%;
  height: fit-content;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  color: white;
  padding: 50px;
}
.desing-futures .content h3 {
  font-size: 2.5rem;
  font-weight: lighter;
  margin-bottom: 50px;
}
.desing-futures .content .txt {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.desing-futures .content .txt .future {
  gap: 20px;
  display: flex;
}
.desing-futures .content .txt .future i {
  align-self: center;
  font-size: 1.7rem;
}
.desing-futures .content .txt .future p {
  font-size: 1.7rem;
}
@media screen and (min-width: 1px) and (max-width: 980px) {
  .desing-futures img {
    display: none;
  }
  .desing-futures .content {
    width: 100%;
  }
}
.Protofolio {
  width: 100vw;
  height: fit-content;
}
.Protofolio .list {
  margin: auto;
  margin-top: 120px;
  margin-bottom: 60px;
}
.Protofolio .list ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.Protofolio .list ul li {
  font-size: 1.7rem;
}
.Protofolio .list ul li:nth-of-type(1) {
  background-color: var(--main-color);
  color: white;
  padding: 10px;
}
.Protofolio .container {
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.Protofolio .container .img {
  position: relative;
  overflow: hidden;
}
.Protofolio .container img {
  max-width: 100%;
  max-height: 100%;
  transition: all 0.5s ease;
}
.Protofolio .container img:hover {
  transform: scale(1.2);
  rotate: 5deg;
}
.Protofolio .container .img:hover .txt {
  bottom: 0;
}
.Protofolio .container .txt {
  position: absolute;
  width: 100%;
  bottom: -100%;
  left: 0;
  background-color: rgba(255, 255, 255, 0.792);
  padding: 20px;
  transition: all 0.5s ease;
}
.Protofolio .container .txt h3 {
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
.Protofolio .container .txt p {
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-size: 1.6rem;
  color: var(--main-color);
}
.Protofolio .more {
  width: fit-content;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 1.5rem;
}
@media screen and (min-width: 600px) and (max-width: 1100px) {
  .Protofolio .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1px) and (max-width: 599px) {
  .Protofolio .container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
}
.Video {
  position: relative;
  width: 100vw;
  height: 100%;
}
.Video video {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  z-index: -2;
}
.Video .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
  z-index: -1;
}
.Video .container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  background-color: var(--transparent-color);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.Video .container h3 {
  color: white;
  padding: 0;
  margin: 0;
  margin-top: 40px;
  font-size: 2rem;
  font-weight: 300;
}
.Video .container p:nth-of-type(1) {
  font-weight: 300;
  font-size: 1.8rem;
  padding: 0;
  margin: 0;
  margin-top: 30px;
}
.Video .container p:nth-of-type(2) {
  background-color: black;
  font-size: 1.3rem;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 40px;
}
.about {
  width: 100vw;
  height: 80vh;
  position: relative;
}
.about img {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -2;
}
.stats {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: fit-content;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/stats.png);
  z-index: -1;
  margin-bottom: 100px;
}
.stats .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
  z-index: -2;
}
.stats .container {
  background-color: var(--transparent-color);
  max-width: fit-content;
  max-height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
  justify-content: center;
  align-items: center;
}
.stats .container .content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 50px;
  min-width: fit-content;
}
.stats .container .content div {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.stats .container .content i {
  color: white;
  font-size: 2rem;
}
.stats .container .content h3 {
  margin: 0;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 20px;
  color: white;
  font-size: 4.5rem;
  text-align: center;
}
.stats .container .content p {
  color: white;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  text-align: center;
}
.skills {
  height: fit-content;
  width: 100%;
  margin-bottom: 100px;
}
.skills .container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
}
.skills .container .TESTIMONIALS {
  display: grid;
  grid-template-rows: 1fr 3fr;
  gap: 4%;
  padding: 20px;
}
.skills .container .TESTIMONIALS .txt {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}
.skills .container .TESTIMONIALS .txt h3 {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 1.8rem;
}
.skills .container .TESTIMONIALS .txt p {
  margin: 0;
  padding: 0;
  margin-top: 50px;
  font-weight: 300;
  color: #777;
  font-size: 1.5rem;
  line-height: 1.8;
}
.skills .container .TESTIMONIALS .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills .container .TESTIMONIALS .content .card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}
.skills .container .TESTIMONIALS .content .card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.skills .container .TESTIMONIALS .content .card .txt-content {
  position: relative;
  margin-left: 30px;
}
.skills .container .TESTIMONIALS .content .card .txt-content p:nth-of-type(1) {
  font-size: 1.6rem;
  line-height: 1.8;
  padding-bottom: 30px;
}
.skills .container .TESTIMONIALS .content .card .txt-content p:nth-of-type(2) {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #777;
  font-size: 1.5rem;
  padding: 10px 0px 5px 20px;
}
.skills .container .TESTIMONIALS .content .balls {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.skills .container .TESTIMONIALS .content .balls div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid rgb(109, 109, 109);
}
.skills .container .TESTIMONIALS .content .balls div:nth-of-type(2) {
  border: none;
  background-color: var(--main-color);
}
.skills .container .SKILL {
  display: grid;
  grid-template-rows: 1fr 3fr;
  gap: 4%;
  max-width: 100%;
  padding: 20px;
}
.skills .container .SKILL .txt {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}
.skills .container .SKILL .txt h3 {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 1.8rem;
}
.skills .container .SKILL .txt p {
  margin: 0;
  padding: 0;
  margin-top: 50px;
  font-weight: 300;
  color: #777;
  font-size: 1.5rem;
  line-height: 1.8;
}
.skills .container .SKILL .content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.skills .container .SKILL .content .one-skill {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.skills .container .SKILL .content p {
  font-size: 1.5rem;
}

.skills .container .SKILL .content .one-skill .prog {
  position: relative;
  background-color: #dedadc;
  width: 100%;
  height: 30px;
}
.skills .container .SKILL .content .one-skill:nth-of-type(1) .prog span {
  position: absolute;
  width: 90%;
  height: 30px;
  background-color: var(--transparent-color);
}
.skills .container .SKILL .content .one-skill:nth-of-type(2) .prog span {
  position: absolute;
  width: 85%;
  height: 30px;
  background-color: var(--transparent-color);
}
.skills .container .SKILL .content .one-skill:nth-of-type(3) .prog span {
  position: absolute;
  width: 80%;
  height: 30px;
  background-color: var(--transparent-color);
}
.skills .container .SKILL .content .one-skill:nth-of-type(4) .prog span {
  position: absolute;
  width: 90%;
  height: 30px;
  background-color: var(--transparent-color);
}
.skills .container .SKILL .content .one-skill:nth-of-type(1) .prog::before {
  content: "90%";
  position: absolute;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  width: 45px;
  height: 25px;
  border-radius: 15%;
  left: 90%;
  top: -40px;
  transform: translatex(-50%);
}
.skills .container .SKILL .content .one-skill:nth-of-type(2) .prog::before {
  content: "85%";
  position: absolute;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  width: 45px;
  height: 25px;
  border-radius: 15%;
  left: 85%;
  top: -40px;
  transform: translatex(-50%);
}
.skills .container .SKILL .content .one-skill:nth-of-type(3) .prog::before {
  content: "80%";
  position: absolute;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  width: 45px;
  height: 25px;
  border-radius: 15%;
  left: 80%;
  top: -40px;
  transform: translatex(-50%);
}
.skills .container .SKILL .content .one-skill:nth-of-type(4) .prog::before {
  content: "90%";
  position: absolute;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  width: 45px;
  height: 25px;
  border-radius: 15%;
  left: 90%;
  top: -40px;
  transform: translatex(-50%);
}
.skills .container .SKILL .content .one-skill:nth-of-type(1) .prog::after {
  content: "";
  position: absolute;
  background-color: black;
  width: 20px;
  height: 20px;
  rotate: 45deg;
  left: 90%;
  top: -22px;
  transform: translatex(-64%);
  z-index: -99;
}
.skills .container .SKILL .content .one-skill:nth-of-type(2) .prog::after {
  content: "";
  position: absolute;
  background-color: black;
  width: 20px;
  height: 20px;
  rotate: 45deg;
  left: 85%;
  top: -22px;
  transform: translatex(-64%);
  z-index: -99;
}
.skills .container .SKILL .content .one-skill:nth-of-type(3) .prog::after {
  content: "";
  position: absolute;
  background-color: black;
  width: 20px;
  height: 20px;
  rotate: 45deg;
  left: 80%;
  top: -22px;
  transform: translatex(-64%);
  z-index: -99;
}
.skills .container .SKILL .content .one-skill:nth-of-type(4) .prog::after {
  content: "";
  position: absolute;
  background-color: black;
  width: 20px;
  height: 20px;
  rotate: 45deg;
  left: 90%;
  top: -22px;
  transform: translatex(-64%);
  z-index: -99;
}
@media screen and (min-width: 1px) and (max-width: 980px) {
  .skills .container {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 1px) and (max-width: 729px) {
  .skills .container .TESTIMONIALS .content .card {
    flex-direction: column;
    margin-top: 20px;
  }
}
.quote {
  position: relative;
  width: 100%;
  padding: 80px 40px;
  margin-bottom: 100px;
  background-image: url(../images/quote.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  color: white;
}
.quote .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.715);
  z-index: -2;
}
.quote .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.quote .container h3 {
  margin: 0;
  padding: 0;
  font-weight: 200;
  font-size: 3.3rem;
  text-align: center;
}
.quote .container p {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  font-size: 1.5rem;
}
.Pricing {
  margin-bottom: 100px;
}
.Pricing .container {
  width: 100%;
  height: fit-content;
  padding: 7%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.Pricing .container .content {
  background-color: #fcfcfc;
  border-top: 1px solid var(--main-color);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.Pricing .container .content .head {
  padding: 30px;
  width: 100%;
  border-bottom: 1px solid var(--main-color);
}
.Pricing .container .content .head h4 {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 1.8rem;
}
.Pricing .container .content .head .price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.Pricing .container .content .head p:nth-of-type(1) {
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
  align-self: flex-start;
  margin-right: 10px;
}
.Pricing .container .content .head p:nth-of-type(2) {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 6rem;
}
.Pricing .container .content .head p:nth-of-type(3) {
  align-self: flex-end;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 2.5rem;
  margin-left: 10px;
}
.Pricing .container .content .body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.Pricing .container .content .body p {
  padding: 0;
  margin: 0;
  padding: 20px;
  font-size: 1.5rem;
  font-weight: lighter;
  width: fit-content;
  border-bottom: 1px solid var(--main-color);
}
.Pricing .container .content .body p:nth-of-type(4) {
  width: 100%;
  border-bottom: 1px solid var(--main-color);
}
.Pricing .container .content .foot {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Pricing .container .content .foot button {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.5rem;
}
.Pricing .txt {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Pricing .txt p {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}
.Pricing .txt button {
  text-transform: capitalize;
  font-size: 1.6rem;
}
@media screen and (min-width: 930px) and (max-width: 1200px) {
  .Pricing .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 600px) and (max-width: 929px) {
  .Pricing .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1px) and (max-width: 599px) {
  .Pricing .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.email {
  position: relative;
  z-index: -1;
  width: 100%;
  height: fit-content;
  background-image: url(../images/subscribe.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
}
.email .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
  z-index: -2;
}
.email .container {
  width: 100%;
  height: fit-content;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: auto;
  gap: 4%;
}
.email .container .input {
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  overflow: hidden;
}
.email .container .input .txtbox {
  padding: 20px 30px;
  justify-self: end;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
.email .container .input i {
  font-size: 2.3rem;
}
.email .container .input input {
  background-color: transparent;
  border: none;
  height: 100%;
  margin-left: 10px;
  padding: 5px;
}
.email .container .input input::placeholder {
  color: white;
  font-size: 1.7rem;
}
.email .container .input button {
  margin: 0;
  padding: 23px 40px;
  font-size: 1.8rem;
}
.email .container .txt {
  width: 50%;
  color: white;
  font-size: 2rem;
}
@media screen and (min-width: 1px) and (max-width: 780px) {
  .email .container {
    flex-direction: column;
    gap: 40px;
  }
  .email .container .input {
    width: 100%;
  }
  .email .container .txt {
    width: 100%;
  }
}
.contact {
  width: 100%;
  height: fit-content;
  margin-bottom: 100px;
}
.contact .container {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: auto;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 100px;
  gap: 4%;
}
.contact .container .inputs {
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.contact .container .inputs input {
  position: relative;
  width: 100%;
  border: 1px solid #c8c8c8;
  margin-bottom: 4%;
  padding: 20px;
}
.contact .container .inputs input::placeholder {
  position: absolute;
  color: #777;
  font-size: 1.6rem;
}
.contact .container .inputs input:focus {
  outline: none;
}
.contact .container .inputs textarea {
  position: relative;
  width: 100%;
  border: 1px solid #c8c8c8;
  margin-bottom: 4%;
  padding: 20px;
  min-height: 200px;
}
.contact .container .inputs textarea::placeholder {
  color: #777;
  font-size: 1.6rem;
}
.contact .container .txt {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.contact .container .txt .touch {
  width: 100%;
}
.contact .container .txt h3 {
  font-weight: 300;
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.contact .container .txt .place h3 {
  margin-top: 50px;
}
.contact .container .txt p {
  margin: 0;
  padding: 0;
  color: #777;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.7rem;
}
.contact .container .button {
  display: flex;
  justify-content: end;
  align-items: center;
}
.contact .container .button button {
  font-size: 1.5rem;
}
@media screen and (min-width: 1px) and (max-width: 780px) {
  .contact .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }
  .contact .container .button {
    justify-content: center;
  }
  .contact .container .txt {
    text-align: center;
  }
}
.footer {
  position: relative;
  width: 100%;
  height: fit-content;
  background-image: url(../images/subscribe.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}
.footer .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -2;
}
.footer .container {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer .container .img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
.footer .container h3 {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 15px;
}
.footer .container hr {
  width: 15%;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.footer .container .icons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}
.footer .container .icons i {
  font-size: 1.7rem;
}
.footer .container p {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 1.6rem;
  margin-bottom: 40px;
}
.footer .container span {
  color: var(--main-color);
  font-weight: bold;
}
